@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

p{
	font-family: "Roboto";
	padding-left: 10px;
	padding-top: 0;
	font-size: 20px;
	/*text-decoration: none;*/
	margin-top: 0;
	color: #ccc;
}
body {
	font-family: 'Alegreya Sans', sans-serif;
	overflow-y: auto;
	/*background: #fff;*/
	height: 100%;
	width: inherit;
	/*overflow-x: hidden;*/
	text-decoration: none;
	/*min-width: 100%;*/
}
/*html{
	width: inherit;
}*/
img{
	overflow-x: visible;
	width: 98%;
	border-radius: 3px;
	margin-left: 1%;
	margin-right: 1%;
}
a{
	display: block;
	padding: 10px 30px;
	font-size: 25px;
	/*text-decoration: none;*/
	color: #ccc;
}
a:hover {
	color: #fff;
	transition: 0.4s;
}
.back{
	margin: 6px;
	margin-left: 2%;
	padding: 0;
	top: 10;
	left: 10;
}

significant{
	/*background-color: #A8A608;*/ /*#00F02B, #A8A608*/
	border-style: solid;
	border-width: 2px; /* 3px*/
	border-radius: 2px;
	/*min-width: 20px;*/
}

span.nobr { white-space: nowrap; }
